
 
 .grid_container {
  
  width: 100%;
  
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px auto auto auto auto auto;
     
  display: grid;
  
 }


.nav-link

{

  color: #FF8225;
  background-color: #F8EDED;
  font-size: 0.9rem;
}

.nav-link

{
  /* background-color: #FF8225;
  color: #F8EDED;
  font-size: 0.9rem; */

}


 .orange-container {
   

  display: grid;
  
  grid-area: 1 /1 / 1/ 6;
    
}

.orange-flex {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  z-index: 4; /* Position the background behind other content */
  background-color: #FF8225;
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image 
    */
  flex-wrap: wrap;

}
.coname {
     
  z-index: 2; /* Position the background behind other content */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-right: 80px;
  color: white;
  font-size: 2.5rem
}

.sub {

    


    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;

}
.telnumber{

  display: flex;  
  flex-direction: column;
  
  align-items: center;

  font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.0rem;  
    padding-left: 80px;
  
}



 .aboutus_container{

  display: grid;
  grid-auto-flow: column;

  grid-area: 2 / 1 / 2 / 6;


 }


 .aboutus_flex {

  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  flex-wrap: wrap;
  flex-flow: row;


  

 }

 .aboutus_flex .content {
  margin-left: 20px;
  max-width: 400px;

 }

 .aboutus_flex .imgBx {

  max-width: 400px;
  flex: 0 0 400px;
  padding: 20px;
 }

 .aboutus_flex .imgBx img {

  max-width: 100%;

 }



 .bullet-container{

  display: grid;
  grid-area: 3 / 1 / 3 / 6;
 } 

.flex-bullets {

    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    flex-wrap: wrap;
    flex-flow: row wrap;

}
  .bullet {
 
    display: flex;
    flex-flow: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: 250px; /* Fixed width */
    height: 250px; /* Fixed height */
    font-size: 1rem; /* Corrected font size */
    border-radius: 5px;
    padding: 20px;
    background-color: #F8EDED;
    
    color: #173B45;
    box-sizing: border-box; /* Include padding in width and height */
    text-align: center; /* Center text if needed */
  }



.how_container{

  display: grid;
  grid-auto-flow: column;
  grid-area: 4 / 1 / 4 / 6;
}












.faqs-container{

      display: grid;

   
    grid-area: 2 / 1 /2 /6;

}

.faqs_flex{

  display: flex;
 
  padding-top: 30px;
  gap: 20px;
  background-color: white;
  justify-content: left ;
  align-items: left;
  
  flex-flow: column;
 
  flex-wrap: wrap;

}


.faq{

    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
       

     
}

.faqq{
  display:flex;


  font-weight: 500;
  min-width: 280px;
  max-width: 300px;
  flex: 1;
  
}


.faqa{
  display:flex;

  min-width: 500px;
  max-width: 500px; 

  


}
.footer_container {
    grid-area: 5 / 1 / 5 / 6;

}







h2 {

  font-size: 1.3rem;
}






 @media (max-width: 991px)
{
    .aboutus_flex
    {
      flex-direction: row;
    }

    .faq{

      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
      justify-content: center;
      align-items: left;

      }


    .faqq{
      display:flex;
     
      text-align: left;
      min-width: 280px;
      max-width: 300px;
      flex: 1;
      
    }


    .faqa{
      display:flex;
      
      text-align: left;
      min-width: 440px;
      max-width: 440px; 
    

    }

}

@media (max-width: 768x)
{
    .aboutus_flex
    {
      
      flex-direction: column;
      max-width: 100%;
    }
    .aboutus_flex .imgBx
    {
      max-width: 100%;
      max-height: 800px; 
      padding: 5px;

    }
    .aboutus_flex .content
    {
      margin-left: 0px;
      max-width: 100%;
    }

    .flex-bullets .bullet
    {
      max-width: 250px;
      padding: 0px;
      
    }

    .coname
    {
      padding-right: 0px;

    }
    .telnumber
    {
      padding-left: 0px;  
    }

    .faq{

      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      justify-content: left;
      align-items: left;

      }


    .faqq{
      display:flex;
     
      text-align: left;
      min-width: 280px;
      max-width: 300px;
      flex: 1;
      
    }


    .faqa{
      display:flex;
      
      text-align: left;
      min-width: 500px;
      max-width: 500px; 
    

    }

    } 

@media (max-width: 539px)
{
    .aboutus_flex
    {
      
      flex-direction: column;
      max-width: 100%;
    }
    

    .aboutus_flex .imgBx
    {
      /* max-width: auto; */
      max-height: 220px; 
      padding: 5px;

    }

    .aboutus_flex .imgBx img
    {
      max-height: 200px;
    }

    .aboutus_flex .content
    {
      margin-left: 0px;
      max-width: 290px;
      font-size: .9rem;
    }

    .flex-bullets .bullet
    {
      max-width: 250px;
      padding: 0px;
    
    }


    .faq{

      display: flex;
      flex-wrap: wrap;
      flex-flow: column;
      justify-content: left;
      align-items: left;

      }


    .faqq{
      display:flex;
     
      text-align: left;
      min-width: 300px;
      max-width: 300px;
      flex: 1;
      
    }


    .faqa{
      display:flex;
      
      text-align: left;
      min-width: 300px;
      max-width: 300px; 
    }

    .coname{
      padding: 0px;
    }

    .telnumber{
      padding: 0px;
    }

    }

       
    
