
 
 *{
  box-sizing: border-box;
 }
 
 
 .grid_container {
  
    width: 100vw;
    
    /* height: 55vh; */ 

     
    
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 1fr; */
    grid-gap: 10px;
    gap: 1 rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px auto auto auto auto auto;
  }


  
  .orange-container {
   

    display: grid;
    
    grid-area: 1 /1 / 1/ 6;
      
  }

  .orange-flex {
    display: flex;
    flex-direction: row; /* Ensure elements stack vertically */
    align-items: center;
    justify-content: space-around;
    z-index: 4; /* Position the background behind other content */
    background-color: #FF8225;
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    flex-wrap: wrap;

  }
  .coname {
       
    z-index: 2; /* Position the background behind other content */
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
    
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 0;
    color: white;
    font-size: 2.5rem
  }

  .sub {


 
      font-family: "Edu AU VIC WA NT Hand", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1.5rem;

  }
  .telnumber{

    display: flex;  
    flex-direction: column;
    
    align-items: center;

    font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 1.0rem;  
    
  }


  .aboutus_container {    

    display: grid;
   
    grid-area: 2 / 1 / 2 / 6;
  }


  .aboutus_flex {

    display: flex;
 
    gap: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-flow: row;
   
    /* height: 100vh; */
    flex-wrap:wrap;

  }

  .aboutus {
    
    display: flex;
    flex-direction: column;
 
    z-index: 2; /* Position the background behind other content */
    background-color: white;
    color: #173B45;
    font-size: 1.rem;
    padding: 5px;
    flex:1;
    

    /* min-width: 80%; */
    
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    max-width: 390px;
    min-width: 200px; */
    /* min-width: 300px; */
  }
  .keys img{

    

    display: flex;
    flex-shrink: 1;

    /* flex: 1; */
    /* max-width: 350px; */

    /* flex-grow: 1;
    
    /* flex-basis: 400px;
    max-width: 400px ;
    min-width: 200px; */ */
    /* height: auto;  */
    /* min-width: 160px; */
    padding: 50px;
    /* margin: 50px; */
    
    gap: 10px;
    background-color: white;
    
    
  }

  .blurb {
    z-index: 2; /* Position the background behind other content */
    color: #173B45;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }


 .booknow {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
 }  

 .bullet-container{

  display: grid;
  grid-area: 3 / 2 / 3 / 5;
 } 
.flex-bullets {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    flex-wrap: wrap;
    flex-flow: row wrap;

}
  .bullet {
 
    display: flex;
    flex-flow: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: 250px; /* Fixed width */
    height: 250px; /* Fixed height */
    font-size: 1rem; /* Corrected font size */
    border-radius: 5px;
    padding: 20px;
    background-color: #F8EDED;
    color: #173B45;
    box-sizing: border-box; /* Include padding in width and height */
    text-align: center; /* Center text if needed */
  }
 h4 {

    font-size: 1rem;
    
 }
  h3 {
/* 
    display: grid; */
    font-size: 1.3rem;

  }

  h2 {

    /* display:grid; */
    color: #173B45;
    font-size: 1.5rem;
    
    justify-content: left;

  }

  .align-horizontal {
    display: flex;
    align-items: center; /* Align items vertically in the center */
  }
  
  .align-horizontal img {
    margin-left: 15px; /* Adjust the spacing between the text and the image */
    width: 20px; /* Set the desired width */
    height: 20px; /* Set the desired height */
  }
  
.background-plane {

    display: grid;
    grid-column: 1 / span 3; /* Span across both columns */
    grid-row: 1 / span 3; /* Span across two rows if needed */
    background-image: url('images/planesketch.jpg'); /* Replace with your image URL */
    background-size: cover; /* Ensure the image covers the entire grid item */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: 3; /* Position the background behind other content */
    opacity: 0.1; /* Optional: make the background semi-transparent */
    position: absolute; /* Allow overlapping within the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.faqs-container{

      display: grid;

   
    grid-area: 4 / 2 /4 /5;

}

.faqs_flex{

  display: flex;
 
  padding-top: 30px;
  gap: 20px;
  background-color: white;
  justify-content: space-evenly  ;
  
  flex-flow: column;
 
  /* height: 100vh; */
  flex-wrap: wrap;

}

.call-image{


  display: flex;
   
  flex: 1;
  max-width: 100%;
  height: auto; 
  /* min-width: 160px; */
  padding: 50px;
  /* margin: 50px; */
  
  gap: 10px;
  background-color: white;
  
}

.faq{

    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;

    /* align-items: center; */
    /* gap: 40px; */

    
}

.faqq{
  display:flex;
/*  
  flex: 0 1 40%; */
  min-width: 150px;
  /* flex-basis: 600px;
  flex-grow: 0;
  flex-shrink: 1; */
  flex: 1;
}


.faqa{
  display:flex;

  min-width: 300px;
  /* flex: 1;  */
  /* min-width: 400px; */
  /* flex-basis: 600px;  
  flex-grow: 1;
  flex-shrink: 1; */
  flex: 2;

}
.footer_container {
    grid-area: 5 / 1 / 5 / 6;

}

